<div class="list-container">

  <%= link_to 'Create a Bookmark', new_list_bookmark_path(@list.id) %>


  <h1><%= @list.name %></h1>

  <ul>
    <% @list.bookmarks.each do |bookmark| %>
      <%# <img src= "#{@movie.poster_url}" alt="poster_film"> %>
      <li><%= bookmark.movie.title %> - <%= bookmark.movie.rating %> </li>
      <li><%= bookmark.movie.overview %> </li>
      <%= link_to 'Delete', bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure??" } %>
    <% end %>
  </ul>

  <%= link_to 'Back to Home Page', lists_path %>

</div>
