<div class="main-container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @list.photo.key, width: 400, height: 300, crop: :fill %>);">
    <div class="container">
      <h1><%= @list.name %></h1>
      <br><br>
      <%= link_to 'New Bookmark', new_list_bookmark_path(@list.id), class: "btn btn-ghost" %>
    </div>
  </div>

  <div class="cards">
      <% @list.bookmarks.each do |bookmark| %>
    <div class="card-trip">
        <img src= <%= "https://image.tmdb.org/t/p/w500#{bookmark.movie.poster_url}" %> alt="poster_film">
        <div class="card-trip-infos">
          <div>
            <h2><%= bookmark.movie.title %> - <%= bookmark.movie.rating %></h2>
            <p><%= bookmark.movie.overview %></p>
            <p><%= bookmark.comment %></p>
          </div>
          <div class="btn btn-flat">
            <h2 class="card-trip-pricing"><%= link_to 'Delete', bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure??" } %></h2>
          </div>
        </div>
    </div>
          <% end %>
  </div>
</div>
